<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/mod/errors/403.php" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/mod/errors/404.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
